@inject IAssigeMenus workcontect
@inject IWorkContext getuser
@{
    var menulist = await workcontect.menulist();
    var currentuse = await getuser.CurrentUserAsync();
}
<style>
    [class*=sidebar-light-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-light-] .nav-sidebar > .nav-item:hover > .nav-link {
        background-color: #6ce8e2 !important;
        color: #1E1E1E !important;
        font-weight: 900;
    }

        [class*=sidebar-light-] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*=sidebar-light-] .nav-sidebar > .nav-item:hover > .nav-link i {
            color: #1E1E1E !important;
        }

    .nav-treeview > .nav-item > .nav-link.active, [class*=sidebar-light-] .nav-treeview > .nav-item > .nav-link.active:hover {
        background-color: #c5e9e7 !important;
        color: #1E1E1E !important;
        border: 1px solid #fff !important;
        font-weight: 900;
    }

    .navbar-white {
        /* background-color: #fff; */
        color: #fbf3ea !important;
        background-color: #00a090;
    }

    .layout-navbar-fixed .wrapper .sidebar-light-info .brand-link:not([class*=navbar]) {
        color: #fbf3ea;
        background-color: #00a090;
        height: 51.5px;
    }

    .brand-link h3 {
        margin: 0;
        padding: 4px 0;
        line-height: .5;
    }

    .main-header .nav-link i {
        color: #fbf3ea !important;
    }

    [class*=sidebar-light-] {
        background-color: #ededed !important;
    }

    .main-sidebar .nav-link i {
        color: #00a090;
    }

    .nav-sidebar > .nav-item {
        margin-bottom: 0;
        border-bottom: 1px solid #c5e9e7;
    }

    .sidebar-dark-info .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-info .nav-sidebar > .nav-item > .nav-link.active {
        background-color: #00827c;
        color: #fff;
        border-radius: 0rem !important;
    }

    [class*=sidebar-light-] .nav-sidebar > .nav-item > .nav-treeview {
        background-color: white;
    }

    .elevation-4 {
        box-shadow: 0 14px 0px rgba(0,0,0,.25),0 10px 5px rgba(0,0,0,.22) !important;
    }

    .image-box-logo {
        width: 85px;
        height: 85px;
        margin: 20px 0;
        padding: 0
    }

    .main-app-logo {
        width: 100%;
        border-radius: 100%;
    }

</style>

<aside class="main-sidebar sidebar-light-info elevation-4">
    <a href="/Admin/Index" class="brand-link text-center"><h3 style="font-size: 20px; line-height: .8">Inventory System</h3></a>
    <div class="sidebar">
        <nav class="">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <div style="display:flex;">
                        <div class="image-box-logo">
                            <img src="~/Logo/InventorySystem.jpg" class="main-app-logo" />
                        </div>
                        <div class="sidebar-logo-text-box">
                            <p class="sidebar-logo-text"><b>@currentuse.FullName</b></p>
                            <small>@currentuse.Email</small>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="Index" id="Dashboard" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                @if (currentuse != null)
                {
                    @foreach (var item in menulist.MainMenuVM)
                    {
                        @if (item.menuItemVMs.Count() > 0)
                        {
                            <li class="nav-item" id="@item.Activeid">
                                <a href="#" class="nav-link">
                                    @Html.Raw(item.Icon) &nbsp;
                                    <p>
                                        @item.Name
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    @foreach (var menu in item.menuItemVMs)
                                    {
                                        <li class="nav-item">
                                            <a asp-action="@menu.Action" asp-controller="@menu.Controller" id="@menu.Controller@menu.Action" class="nav-link">
                                                @Html.Raw(menu.Icon) &nbsp;
                                                <p>@menu.Name</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                    }
                }
            </ul>
        </nav>
    </div>
</aside>
