@using app.Services.AccountingReport
@model AccountingReportViewModel
@{
    ViewData["Title"] = "Trail Balance Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int Sl = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Trial Balance Report</li>
            </ol>
            <div>
                <a class="btn btn-outline-primary" id="printReport"><i class="fa fa-print"></i> Print Here</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fa fa-info-circle"></i>
                    Account Trial Balance Report
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 d-none d-md-block"></div>
                    <div class="col-12 col-md-8">
                        <form asp-action="SearchTrialBalance" method="post" class="row">
                            <div class="form-group col">
                                <label asp-for="CostCentersId" class="control-label"></label>
                                @Html.DropDownListFor(m => m.CostCentersId, new SelectList(Model.CostCentersViewModel.CostCenterViewModels, "Id", "Name"), "--Select Here--", new { @class = "form-control" })
                            </div>
                            <div class="form-group col">
                                <label asp-for="FromDate" class="control-label"></label>
                                <input type="date" asp-for="FromDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" />
                            </div>
                            <div class="form-group col">
                                <label asp-for="ToDate" class="control-label"></label>
                                <input type="date" asp-for="ToDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" />
                            </div>
                            <div class="form-group col mt-2" style="margin-top: 4px">
                                <label class="control-label"></label>
                                <input type="submit" value="Show Report" class="btn btn-outline-primary w-100" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 d-none d-md-block"></div>
                    @if (Model.FromDate.HasValue)
                    {
                        <div class="col-12 text-center">
                            <p class="text-body"><span class="font-weight-bold">Date Between: </span> @Model.FromDate.Value.ToString("dd MMMM, yyyy") - @(Model.ToDate.HasValue ? Model.ToDate.Value.ToString("dd MMMM, yyyy") : "Till Now")</p>
                        </div>
                    }
                </div>
                @if (Model.accountingReportViewModels is not null)
                {
                    <div class="table-responsive">
                        @if (!Model.accountingReportViewModels.Any())
                        {
                            <p class="text-center text-danger">Nothing Found to Load!</p>
                        }
                        else
                        {
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr class="bg-gradient-gray">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Transaction</th>
                                        <th class="text-center">Voucher No</th>
                                        <th class="text-center">Account Code</th>
                                        <th class="text-center">Account Name</th>
                                        <th class="text-center">Debit Amount</th>
                                        <th class="text-center">Credit Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.accountingReportViewModels)
                                    {
                                        <tr>
                                            <td class="text-center">@Sl</td>
                                            <td class="text-center">@item.TransactionDate.ToString("dd MMMM, yyyy")</td>
                                            <td class="text-left">@item.TransactionId</td>
                                            <td class="text-left">@item.VoucherNo</td>
                                            <td class="text-left">@item.AccountCode</td>
                                            <td class="text-left">@item.AccountName</td>
                                            <td class="text-right">@item.DebitAmount</td>
                                            <td class="text-right">@item.CreditAmount</td>
                                        </tr>
                                        Sl++;
                                    }
                                    <tr>
                                        <th class="text-right" colspan="6">Total Amount (BDT)</th>
                                        <th class="text-right">@Model.TotalDebitAmount</th>
                                        <th class="text-right">@Model.TotalCreditAmount</th>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Accounting-Report').addClass('menu-open');
            $('#AccountingReportTrailBalanceReport').addClass('active');

            setTimeout(function() {
                $('#response').hide();
            }, 5000);

            $('#printReport').on('click', function () {
                var tableData = $('tbody').html();
                var tableHead = $('thead tr').html();

                const generateView = `
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        ${tableHead}
                                    </tr>
                                </thead>
                                <tbody>
                                    ${tableData}
                                </tbody>
                            </table>
                        </div>
                    </div>
                `;

                var originalContent = $('body').html();

                $('body').html(generateView);
                window.print();
                $('body').html(originalContent);
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}