@using app.Services.Vouchern
@model VouchersViewModel
@{
    ViewData["Title"] = "Detail Voucher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int Sl = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Detail Voucher</li>
            </ol>
            <div>
                <a asp-action="Vouchers" class="btn btn-outline-primary"><i class="fa fa-list"></i> Vouchers</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Detail Voucher
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mr-auto">
                        <div class="table-responsive w-75" style="margin: 0 auto">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr class="border-bottom">
                                        <th class="text-left" width="110px">Voucher Date:</th>
                                        <td class="text-left">@Model.VoucherDate.ToString("dd,MMMM,yyyy")</td>
                                        <th class="text-left" width="110px">Voucher No:</th>
                                        <td class="text-left">@Model.VoucherNo</td>
                                        <th class="text-left" width="110px">Voucher Status:</th>
                                        <td class="text-left">
                                            <span class="text-success">
                                                @if (Model.VoucherStatus.Equals(VoucherStatus.CREATED))
                                                {
                                                    <span class="text-primary text-bold">@Model.VoucherStatus</span>
                                                }
                                                else if (Model.VoucherStatus.Equals(VoucherStatus.SUBMITTED))
                                                {
                                                    <span class="text-info text-bold">@Model.VoucherStatus</span>
                                                }
                                                else if (Model.VoucherStatus.Equals(VoucherStatus.APPROVED))
                                                {
                                                    <span class="text-success text-bold">@Model.VoucherStatus</span>
                                                }
                                                else if (Model.VoucherStatus.Equals(VoucherStatus.REJECTED))
                                                {
                                                    <span class="text-danger text-bold">@Model.VoucherStatus</span>
                                                }
                                                else
                                                {
                                                    <span class="text-light text-bold">@Model.VoucherStatus</span>
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <th class="text-left" width="110px">Cost Center:</th>
                                        <td class="text-left">@Model.CostCenterViewModel.Name</td>
                                        <th class="text-left" width="110px">Voucher Type:</th>
                                        <td class="text-left">@Model.VoucherTypesViewModel.Name</td>
                                        <th class="text-left" width="110px">Created By:</th>
                                        <td class="text-left">@Model.CreatedBy</td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <th class="text-left" width="110px">Narration:</th>
                                        <td class="text-left" colspan="4">@Model.Narration</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr class="bg-gradient-gray">
                                        <th class="text-center">#</th>
                                        <th class="text-center">GL Head [Code]</th>
                                        <th class="text-center">Particular</th>
                                        <th class="text-center">Debit</th>
                                        <th class="text-center">Credit</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.VouchersLinesViewModels)
                                    {
                                        <tr>
                                            <td>@Sl</td>
                                            <td>@item.GlHeadId</td>
                                            <td>@item.Particular</td>
                                            <td class="text-right">@item.DebitAmount</td>
                                            <td class="text-right">@item.CreditAmount</td>
                                        </tr>
                                        Sl++;
                                    }
                                </tbody>

                                <tfoot class="bg-gray">
                                    <tr>
                                        <td class="text-right" colspan="3">Total</td>
                                        <td class="text-right">@Model.VouchersLinesViewModels.Select(x => x.DebitAmount).Sum()</td>
                                        <td class="text-right">@Model.VouchersLinesViewModels.Select(x => x.CreditAmount).Sum()</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Voucher').addClass('menu-open');
            $('#VoucherVouchers').addClass('active');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
