@using app.Services.Vouchern
@model VouchersViewModel
@{
    ViewData["Title"] = "Pending Vouchers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int Sl = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Pending Vouchers</li>
            </ol>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-list"></i>
                    List of Pending Voucher
                </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (!Model.VouchersViewModels.Any())
                    {
                        <p class="text-center text-danger">Nothing Found to Approved!</p>
                    }
                    else
                    {
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr class="bg-gradient-gray">
                                    <th class="text-center">#</th>
                                    <th class="text-center">Vouche No</th>
                                    <th class="text-center">Vouche Type</th>
                                    <th class="text-center">Voucher Date</th>
                                    <th class="text-center">Cost Center Name</th>
                                    <th class="text-center">Total Debit Amount</th>
                                    <th class="text-center">Total Credit Amount</th>
                                    <th class="text-center">Approved</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.VouchersViewModels)
                                {
                                    <tr>
                                        <td>@Sl</td>
                                        <td>@item.VoucherNo</td>
                                        <td>@item.VoucherTypesViewModel.Name</td>
                                        <td>@item.VoucherDate.ToString("dd MMMM, yyyy")</td>
                                        <td>@item.CostCenterViewModel.Name</td>
                                        <td class="text-right">@item.TotalDebitAmount</td>
                                        <td class="text-right">@item.TotalCreditAmount</td>
                                        <td class="text-center">
                                            @if (!item.VoucherStatus.Equals(VoucherStatus.APPROVED))
                                            {
                                                <b class="text-danger"> <i class="fas fa-times-circle fa-2x" style="font-size:20px"></i></b>
                                            }
                                            else
                                            {
                                                <b class="text-success"> <i class="fas fa-check-square" style="font-size:20px"></i></b>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("Approve Now", "ApprovedVoucher", new { voucherNo = item.VoucherNo }, new { @class = "btn btn-info btn-sm", onclick = "return confirm('Are you sure you want to approve now?')" })
                                        </td>
                                    </tr>
                                    Sl++;
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Voucher').addClass('menu-open');
            $('#VoucherPendingVouchers').addClass('active');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

