@using app.Services.Vouchern
@model SearchVoucherViewModel
@{
    ViewData["Title"] = "Search Vouchers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int Sl = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Search Vouchers</li>
            </ol>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-search"></i>
                    Search Voucher
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="SearchVouchers" method="post" class="row">
                            <div class="form-group col">
                                <label asp-for="VoucherTypesId" class="control-label"></label>
                                @Html.DropDownListFor(m => m.VoucherTypesId, new SelectList(Model.VoucherTypesViewModel.VoucherTypesViewModels, "Id", "Name"), "--Select Here--", new { @class = "form-control" })
                            </div>
                            <div class="form-group col">
                                <label asp-for="CostCentersId" class="control-label"></label>
                                @Html.DropDownListFor(m => m.CostCentersId, new SelectList(Model.CostCenterViewModel.CostCenterViewModels, "Id", "Name"), "--Select Here--", new { @class = "form-control" })
                            </div>
                            <div class="form-group col">
                                <label asp-for="FromDate" class="control-label"></label>
                                <input type="date" asp-for="FromDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" />
                            </div>
                            <div class="form-group col">
                                <label asp-for="ToDate" class="control-label"></label>
                                <input type="date" asp-for="ToDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" />
                            </div>
                            <div class="form-group col mt-2" style="margin-top: 4px">
                                <label class="control-label"></label>
                                <input type="submit" value="Search Voucher" class="btn btn-outline-primary w-100" />
                            </div>
                        </form>
                    </div>
                </div>

                @if (Model.VouchersViewModels is not null)
                {
                    <div class="table-responsive mt-2">
                        @if (!Model.VouchersViewModels.Any())
                        {
                            <p class="text-center text-danger">Nothing Found to show!</p>
                        }
                        else
                        {
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr class="bg-gradient-gray">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Vouche No</th>
                                        <th class="text-center">Vouche Type</th>
                                        <th class="text-center">Voucher Date</th>
                                        <th class="text-center">Cost Center Name</th>
                                        <th class="text-center">Total Debit Amount</th>
                                        <th class="text-center">Total Credit Amount</th>
                                        <th class="text-center">Approved</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.VouchersViewModels)
                                    {
                                        <tr>
                                            <td>@Sl</td>
                                            <td>@item.VoucherNo</td>
                                            <td>@item.VoucherTypesViewModel.Name</td>
                                            <td>@item.VoucherDate.ToString("dd MMMM, yyyy")</td>
                                            <td>@item.CostCenterViewModel.Name</td>
                                            <td class="text-center">@item.TotalDebitAmount</td>
                                            <td class="text-center">@item.TotalCreditAmount</td>
                                            <td class="text-center">
                                                @if (!item.VoucherStatus.Equals(VoucherStatus.Approved))
                                                {
                                                    <b class="text-danger"> <i class="fas fa-times-circle fa-2x" style="font-size:20px"></i></b>
                                                }
                                                else
                                                {
                                                    <b class="text-success"> <i class="fas fa-check-square" style="font-size:20px"></i></b>
                                                }
                                            </td>
                                            <td class="text-center">
                                                @Html.ActionLink("", "DetailVoucher", new { id = item.Id }, new { @class = "text-info fas fa-eye" })
                                            </td>
                                        </tr>
                                        Sl++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Voucher').addClass('menu-open');
            $('#VoucherSearchVouchers').addClass('active');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}