@using Newtonsoft.Json
@using app.Services
@using app.Services.Vouchern
@model VouchersViewModel
@{
    ViewData["Title"] = "Vouchers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int Sl = 1;
    var getTempRes = ViewBag.Response as string;
    ResponseViewModel response = getTempRes is not null ? JsonConvert.DeserializeObject<ResponseViewModel>(getTempRes) : null;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Vouchers</li>
            </ol>
            <div>
                <a asp-action="AddVoucher" class="btn btn-outline-primary"><i class="fa fa-plus"></i> New Voucher</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-list"></i>
                    List of Voucher
                </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="bg-gradient-gray">
                                <th class="text-center">#</th>
                                <th class="text-center">Vouche No</th>
                                <th class="text-center">Vouche Type</th>
                                <th class="text-center">Voucher Date</th>
                                <th class="text-center">Cost Center Name</th>
                                <th class="text-center">Total Debit Amount</th>
                                <th class="text-center">Total Credit Amount</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.VouchersViewModels)
                            {
                                <tr>
                                    <td>@Sl</td>
                                    <td>@item.VoucherNo</td>
                                    <td>@item.VoucherTypesViewModel.Name</td>
                                    <td>@item.VoucherDate.ToString("dd MMMM, yyyy")</td>
                                    <td>@item.CostCenterViewModel.Name</td>
                                    <td class="text-right">@item.TotalDebitAmount</td>
                                    <td class="text-right">@item.TotalCreditAmount</td>
                                    <td class="text-center">
                                        @if (item.VoucherStatus.Equals(VoucherStatus.CREATED))
                                        {
                                            <span class="badge badge-pill badge-primary">@item.VoucherStatus</span>
                                        }
                                        else if (item.VoucherStatus.Equals(VoucherStatus.SUBMITTED))
                                        {
                                            <span class="badge badge-pill badge-info">@item.VoucherStatus</span>
                                        }
                                        else if (item.VoucherStatus.Equals(VoucherStatus.APPROVED))
                                        {
                                            <span class="badge badge-pill badge-success">@item.VoucherStatus</span>
                                        }
                                        else if (item.VoucherStatus.Equals(VoucherStatus.REJECTED))
                                        {
                                            <span class="badge badge-pill badge-danger">@item.VoucherStatus</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-light">@item.VoucherStatus</span>
                                        }
                                    </td>
                                    @if (item.VoucherStatus.Equals(VoucherStatus.CREATED))
                                    {
                                        <td class="text-center">
                                            @Html.ActionLink("", "AddVoucher", new { id = item.Id }, new { @class = "text-info fas fa-eye" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            @Html.ActionLink("", "DetailVoucher", new { id = item.Id }, new { @class = "text-info fas fa-eye" })
                                        </td>
                                    }
                                </tr>
                                Sl++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="position-absolute response-alert" id="response">
                    @if (response is not null)
                    {
                        if (response.ResponseCode.Equals(200))
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Success!</strong> @response.ResponseMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else if (response.ResponseCode.Equals(400))
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Bad Request!</strong> @response.ResponseMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else if (response.ResponseCode.Equals(404))
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Not Found!</strong> @response.ResponseMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Internal Error!</strong> @response.ResponseMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Voucher').addClass('menu-open');
            $('#VoucherVouchers').addClass('active');

            setTimeout(function() {
                $('#response').hide();
            }, 5000);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}