@using app.Services.Vouchern
@model VoucherTypesViewModel
@{
    ViewData["Title"] = "Voucher Types";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int Sl = 1;
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Voucher Types</li>
            </ol>
            <div>
                <a asp-action="AddVoucherType" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i> New Voucher Type</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    List of Voucher Type
                </h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    @if (!Model.VoucherTypesViewModels.Any())
                    {
                        <p class="text-center text-danger">Nothing Found to Load!</p>
                    }
                    else
                    {
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr class="bg-gradient-gray">
                                    <th>#</th>
                                    <th>Short Name</th>
                                    <th>Cost Center Name</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.VoucherTypesViewModels)
                                {
                                    <tr>
                                        <td>@Sl</td>
                                        <td>@item.ShortName</td>
                                        <td>@item.Name</td>
                                        <td class="text-center">
                                            @if (item.IsActive)
                                            {
                                                <b class="text-success"> <i class="fas fa-check-square" style="font-size:20px"></i></b>
                                            }
                                            else
                                            {
                                                <b class="text-danger"> <i class="fas fa-times-circle fa-2x" style="font-size:20px"></i></b>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.ActionLink("", "UpdateVoucherType", new { id = item.Id }, new { @class = "text-info fas fa-edit", onclick = "return confirm('Are you sure you want to edit this?')" }) |
                                            @Html.ActionLink("", "DeleteCostCenter", new { id = item.Id }, new { @class = "text-danger fas fa-trash", onclick = "return confirm('Are you sure you want to delete this?')" })
                                        </td>
                                    </tr>
                                    Sl++;
                                }
                            </tbody>
                        </table>
                    }
                </div>

                <div class="position-absolute response-alert" id="response">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> @ViewBag.Message
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Voucher').addClass('menu-open');
            $('#VoucherVoucherTypes').addClass('active');

            setTimeout(function() {
                $('#response').hide();
            }, 5000);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}